* {
  /*outline: dotted 1 px orange;*/
}
body {
  text-align: center;
  background: green;
  color:white;
  font-size: 1.5em;
}

header {
  border: 3px solid red;
  width: 450px;
  margin: 10px auto 10px auto;
  height: 100px;
  background: black;
}

header img {
  float:left;
  /*margin-top: 10px;*/
  margin-right: 50px;
  width: 100px;
}

header h1 {
  /*float:left;*/
  font-size: 1.2em;
  /*border-left: 10px double white;*/
}

main {
  width: 960px;
  margin: 20px auto;
}

article {
  border: 3px solid red;
  margin-top: 10px;
  margin-right: 3px;
  text-align: left;
  width: 300px;
  padding: 2px 5px;
  background: blue;
}

article h2 {
  padding: 0px 20px;
}

.Bio {
  float: left;
  margin-bottom: 100px;
  text-align: justify;
}

.Work {
  float: left;
  margin-bottom: 100px;
}

.Dogs {
  float: left;
  margin-bottom: 100px;
}

footer {
  clear: both;
  height: 50px;
  background: black;
  margin-top: 100px;
  width: 960px;
  margin: 100px auto 0px auto;
  border: 3px solid red;
}
